@media (max-width: 991px) {
    body{
    overflow-x: hidden;
    }
    .hi-slide{
        margin-left:  -263px !important;
        overflow: hidden;
        width: 170vw !important;
    }
    .navbar{
        width: 100vw;
    }
}